[Unit]
Description=Minimal multicast DNS server
Documentation=man:moodns(1)
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/moodns

[Install]
WantedBy=multi-user.target
